/* * {
  border: solid red;
} */

body {
  background-color: lightblue;
}

.showRecipes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
  padding-left: 2rem;
  margin-right: 2rem;
  /* display: flex;
  flex-wrap: wrap;
  margin: auto; */
}

.center {
  display: block;
  margin: auto;
  width: 70%;
}